html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-size: 16px; font-family: '맑은 고딕'; color: #333; text-align: left}
a {text-decoration: none; color: inherit}
ul, li, ol, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}

.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1200px; height: 100%; margin: 0 auto;}
.header {width: 100%; height: 100px;}
.logo {float: left;}
.logo img {width: 200px;}
.navs {float: right;}
.nav {float: left; width: 200px; height: 100px; line-height:100px; text-align: center; z-index: 10}
.nav div {width: 200px; font-size: 1.1rem;}
.nav div:hover {background: rgb(18, 159, 230); font-weight: bolder}

.submenu {width: 200px; line-height: 40px; height: 40px; position: absolute; z-index: 100; display: none;}
.submenu li {background: rgb(50, 142, 223, 0.8); color: #fff;}
.submenu li:hover {background: rgba(255,255,255,0.4)}


.banner {width: 1200px; height: 300px; position: relative; z-index: -100;}
.slide {}
.slide li{width: 1200px; height: 300px; position: absolute; top: 0; left: 0;}
.slide li img {width: 1200px; height: 300px;}

.welcome {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.welcome1 {color: burlywood}
.welcome2 {color:red}
.welcome3:hover {
     background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), rgba(0, 255, 0, 0.35) calc(50% - 8px), rgba(0, 255, 0, 0.35) 100% );
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
}

.contents {width: 1200px; height: 300px; margin: 15px auto;  position: relative;}

.tab-wrap {width: 400px; height: 300px; text-align: center; float: left;}
.tabs {width: 100%; height: 300px; position: relative;}
.tab-button {background: rgba(51, 64, 247, 0.7); height: 40px; line-height: 40px; text-align: center; cursor: pointer; }
.tab-button span {width: 200px; text-align: center; float: left; box-shadow: 10px -5px 20px 3px; color: #fff; }
.tab-button span:hover {font-weight: bolder;}

#lamp {width: 50%; background: red; height: 2px; position: absolute; top: 40px; }
.tab-body {width: 100%;background: #eee; border-bottom: 2px solid black; height: 260px; overflow: hidden}
#lamp.content1 {left: 0; transition: all .3s ease-in}
#lamp.content2 {left: 200px; transition: all .3s ease-in}

.content1 {width: 90%; height: 83%; margin: 0 auto; }
.content1 .table {font-size: 0.8rem; border-collapse: collapse;}
.content1 .table tr:nth-child(2n) {background: #fff;}
.content1 .table tr:nth-child(2n+1) {cursor: pointer; }
.content1 .notice h2 {margin: 20px;}
.content1 .table tr>td:first-child {background: #666; color: #fff; margin-right: 5px; font-size: 0.5rem; border-bottom: 1px solid white; text-align: center;}
.content1 .table tr>td {margin-left: 5px; padding: 10px 0;}

.content2 {width: 100%; }
.gallery {width: 400px; margin: 50px auto;}
.gallery li {float: left; } 
.gallery img {width: 130px;}

.banner2 {width: 400px; height: 300px; float: left; margin: 0 1%;position: relative; overflow: hidden; border-bottom: 1px solid coral}
.slide2 {width: 800px; height: 300px; margin: 0 auto;position: absolute; }
.slide2 li {float: left;}
.slide2 li img {width: 400px;}

.slide-button {position: absolute; color:#000; font-size: 2.4rem; width: 240px; height:40px;  letter-spacing: 5px; margin: 0 auto; bottom: 10px; left: 50%; transform: translateX(-20%);}
p.bts-wrap {line-height: 30px; display: inline;}
span.bts {cursor: pointer}
span.bts > a {content: "\2022";}

.flip-card { background: transprent; width: 400px; height: 300px; border: 1px solid #f1f1f1; }
.family {width: 32%; height: 300px; float: right; position: absolute; right:0; line-height: 70px; background: #eee; border-bottom: 3px solid black; margin: 0 -5px;}
.family li {margin: 0 auto; text-align: center;}
/* .family li:hover {
     background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), rgba(51, 64, 247, 0.7) calc(50% - 8px), rgba(51, 64, 247, 0.35) 100% );
     transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
     background-size: 70% 200%;
     background-position: 0 0;} */
.flip-card-inner {position: relative; width: 100%; height: 100%; text-align: center; transition: tranform 0.8s;}
.flip-card:hover .flip-card-inner { transform: rotateY(180deg);}

.flip-card-front, .flip-card-back {position: absolute;width: 100%; height: 100%; backface-visibility: hidden;}
.flip-card-front {color: black;}
.flip-card-back { background: dodgerblue; color: white; transform: rotatey(180deg)}

footer {width: 1200px; height: 100px; position: relative}
.footer {background: rgba(18, 159, 230, 0.3); height: 100px;margin-top: 70px;}
.footer-wrap {width: 100%; height: 100%; position: relative;;}

.footer-body {width: 100%; margin: 0 auto; }
.legal {float: left; width: 100%; height: 20%; margin: 5px auto; }
.legal li {float:left; display: inline-block; width: 30%; height: 30px; text-align: center; }
.legal li:hover {color: red;cursor: pointer}
.footer-notice {width: 100%; height: 60%; position: relative;}
.footer-notice p {float: left; margin: 0 0 3px 30px}
.footer-notice address {float: right;}

#modal-bg {width: 100%; height: 100%; background: rgba(0,0,0,0.7); position: absolute; top: 0; left: 0; z-index: 9999; display: none}
#modal-wrap {width: 100%; height: 100%; background: rgba(0,0,0,0.4); position: absolute; top: 0; left: 0; z-index: 9999; display: none }
#modal-body {width: 300px; height: 400px; position:fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0 auto;}