html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-size: 16px; font-family: "맑은 고딕"; color: #222; text-align: left;}
ul, li, ol, h1, h2, h3, h4 {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit}

.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1000px; margin: 0 auto;position: relative;}
.header {width: 200px; height: 150px; background: #ccc; position: relative; top: 50px; }
.logo {float: left; width: 250px; height: 120px;}
.logo img {width: 200px;}
.navs {left:0; top: 100px; width: 200px; height: 400px;}
.nav {background: #eee; cursor: pointer; text-align: center}
.nav > div {background: #999; padding: 1rem; font-size: 2rem; color: #fff;}
.nav > div:hover {background: chocolate;}

.submenu {color:chocolate; font-weight: bolder; font-size: 1.4rem; padding: 15px 0}
.submenu > li {background-blend-mode: luminosity; padding: 0.5rem 0.5rem 1.5rem;}
.submenu > li:hover {background: #fff;}

.banner {width: 1000px; margin: 0 auto; position: relative; left: 200px;height: 400px; z-index: -3; overflow: hidden;}
.slide {position: absolute;width: 4200px; height: 400px; top: 0; left: 0;}
.slide li {float: left;}

.welcome {position: absolute; width: 400px; height: 100px; line-height: 40px; text-align: center; left: 50%; top: 50%;transform: translate(-50%, -50%); background: rgba(165,50,180,0.4); color: #fff; border-radius: 25px; font-size: 1.2rem}
.welcome h2 {color: white;}
.welcome h2 span {color: yellow}

.contents {position: relative; left: 200px; width: 1000px; height: 500px;}
.notice {width: 50%; float: left; margin: 0 2%;}